<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transliteration</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
  <!-- Team Section Begin -->
  <section class="team spad set-bg" data-setbg="static/img/blog/login.jpg" style="background-image: url(&quot;static/img/blog/login.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

               

               
        <div class="section-title">
          <h2>Login</h2><br><br>
                <div class="Translate">
                  
    <form>
      <label for="username">Enter Username:</label><br>
      <input type="text" id="username" name="username" placeholder="User Name" required style="width: 350px;"><br><br><br>
      <label for="password">Enter Password:</label><br>
      <input type="password" id="password" name="password" placeholder="Password" required style="width: 350px;"><br><br><br>
      <a href="home-translate.html" class="site-btn">Login</a><br><br><br>
      <span class="register">Don't have an account <a href="register.html">  Register?</a></span>
    </form>

                </div>
            </div> 
          </div> 
            </div>
        </div>
        
        
    </div>
</section>
<!-- Team Section End -->
</body>
</html>