<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transliteration</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
  <!-- Team Section Begin -->
  <section class="team spad set-bg" data-setbg="img/blog/register.jpg" style="background-image: url(&quot;img/blog/register.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

               

               
        <div class="section-title">
          <h2>Create Account</h2><br><br>
                <div class="Translate">
                  <form action="">
                    <label for="text" ><b>Enter Fullname</b></label><br>
                    <input type="text" placeholder="User Name "><br><br>
                    <label for="email" ><b>Enter Email id</b></label><br>
                    <input type="email" placeholder="Email"><br><br>
                    <label for="text" ><b>Enter Password</b></label><br>
                    <input type="text" placeholder="Password "><br><br>
                    
                    <a href="Login.html" class="site-btn">Register</a><br><br>
                    <span class="login">Have an account <a href="login.html">Login?</a></span>
                  </form> 
   
                </div>
            </div> 
          </div> 
            </div>
        </div>
        
        
    </div>
</section>
<!-- Team Section End -->
</body>
</html>